name: Sync with GitHub Enterprise

on:
  push:
    branches:
      - '*'
      
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - run: |
          set -vx
          git clone --mirror "https://github.com/${{ github.repository }}" sync-repo
          cd sync-repo
          echo "1"
          git remote add github-enterprise "https://cebot@github.ibm.com/${{ github.repository }}"
          echo "2"
          git config --global user.email "terrabot@us.ibm.com"
          echo "3"
          git config --global user.name "${{ GHE_USER }}"
          echo "4"
          echo git config --global http.https://{{ ENTERPRISE_URL }}/.extraheader "AUTHORIZATION: token ${{ GITHUB_TOKEN }}"
          echo "5"
          git push --mirror --force github-enterprise
        
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ENTERPRISE_TOKEN }}
          ENTERPRISE_URL: ${{ secrets.ENTERPRISE_URL }}
          GHE_USER: ${{ secrets.GHE_USER }}  

